body {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
  width: 150px;
  transition: transform 0.3s ease;
}

img.enlarged {
  transform: scale(1.36);
}

img {
  max-width: 300px;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}


