body {
  background-color: #f2f2fc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  padding: 30px;
  width: 300px;
  text-align: center;
  border-radius: 12px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  margin-top: 20px;
}

img.enlarged {
  transform: scale(1.1);
}
